/.idea/
.DS_Store
/.ipynb_checkpoints/
/projects/pythonStudy/.idea/misc.xml
/projects/pythonStudy/.idea/modules.xml
/projects/pythonStudy/.idea/inspectionProfiles/profiles_settings.xml
/projects/pythonStudy/.idea/inspectionProfiles/Project_Default.xml
/projects/pythonStudy/.idea/pythonStudy.iml
/projects/pythonStudy/.idea/vcs.xml
